iframe {border-width: 0;border-style: inset;border-color: initial;border-image: initial;}
.right_ce{width: 80%; position: absolute;margin-left: 18%;margin-top: -780px;}
.layui-form-item{width: 80%;padding: 20px 10px;position: relative;}
.layui-form-item li{width:22%;color:#3465cb; display: inline-block;padding: 10px 10px;}
.layui-form-item li span{float:left; font-size: 1.1em;text-align: right;height: 20px;line-height: 20px;padding-top: 5px;width: 30%;}
.layui-input{height: 30px;line-height:30px;width: 50%;border:1px solid #3465cb; }
.layui-btn {height: 25px;line-height: 25px;background-color: #3465cb;color: #fff;white-space: nowrap;text-align: center;font-size: 14px;
    border: none;cursor: pointer;}
input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
.layui-input-block{float: right;margin-top: -80px;}
.anmiu{float: right;margin-top: -40px;}
/*
table{width: 100%;}
.one{
    border-collapse: separate;
    border-spacing: 0px 10px
     }
tr{margin-top: 20px;}
th,td{width: 9%;border-right:1px solid #a7a7a7;height: 30px;line-height: 30px;text-align: center;color: white;font-size: 16px;}
th{background-color: #3465cb; }
td{background-color:#f6f4f4;color: #3465cb;border-collapse:collapse;}
*/
.fuxuan{width: 15px;height: 15px;margin-top: 10px;cursor: pointer;}
@media screen and (max-width: 1800px) and (min-width: 1200px)
{.layui-form-item li span{font-size: 0.9em;width: 40%;}
    .layui-form-item li{width:20%;}}
@media screen and (max-width: 1199px) and (min-width: 769px)
{.layui-form-item li span{font-size: 0.8em;width: 20%;}}