iframe {border-width: 0;border-style: inset;border-color: initial;border-image: initial;}
.right_ce{width: 80%; position: absolute;margin-left: 18%;margin-top: -780px;}
.layui-form-item{width: 80%;padding: 20px 10px;position: relative;}
.layui-form-item li{width:22%;color:#3465cb; display: inline-block;padding: 10px 10px;}
.layui-form-item li span{float:left; font-size: 1.1em;text-align: right;height: 20px;line-height: 20px;padding-top: 5px;width: 30%;}
.layui-input{height: 30px;line-height:30px;width: 50%;border:1px solid #3465cb; }
.layui-btn {height: 25px;line-height: 25px;background-color: #3465cb;color: #fff;white-space: nowrap;text-align: center;font-size: 14px;
    border: none;cursor: pointer;}
.biaoge{width: 100%;}
.layui-table th{
    background-color: #3465cb;color: white;text-align: center;font-size: 1.2em;}
input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
.layui-input-block{float: right;margin-top: -80px;}
.anmiu{float: right;margin-top: -40px;}
.layui-layer {
    -webkit-overflow-scrolling: touch;top: 150px;
    left: 0;margin: 0;padding: 0;background-color: #fff;
    -webkit-background-clip: content;border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);width: 500px;}
.li_text{width: 285px;height: 30px;line-height: 30px;margin-top: 10px;}
.layui-layer-title {
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid ;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #3465cb;
    border-radius: 2px 2px 0 0;
}
.li_text span{float: left;font-size: 16px;text-align: center;}
.li_text input{width: 200px;float: right;}
@media screen and (max-width: 1800px) and (min-width: 1200px)
{.layui-form-item li span{font-size: 0.9em;width: 40%;}
    .layui-form-item li{width:20%;}}
@media screen and (max-width: 1199px) and (min-width: 769px)
{.layui-form-item li span{font-size: 0.8em;width: 20%;}}
.layui-table td{ background-color: #eae8e8;color: #3465cb;text-align: center;font-size: 1.2em;}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color:#3465cb;}