iframe {border-width: 0;border-style: inset;border-color: initial;border-image: initial;}
.right_ce{width: 80%; position: absolute;margin-left: 18%;margin-top: -780px;}
.right_container{width: 80%;margin: auto;}
.title{font-size: 2em;text-align: center;margin: 15px 0;letter-spacing: 2px;width: 100%;border-bottom: 1px solid #3465cb;height: 40px;line-height: 40px;}
.title1{height: 40px;line-height: 40px;width: 100%;text-align: center;}
button{width: 100px;height: 30px;line-height: 30px;border-radius: 5px;border: none;font-size: 1.2em;color: white;
    background-color:#3465cb;}
.title2{width: 400px;min-height: 300px;border: 1px solid #3465cb;margin:20px auto;}
.title3{margin-left: 45px;}